#arrow {
    float: right;
    margin-right: -30px;
    animation: bounce 2s infinite;
    animation-delay: 2s;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

#arrow a {
    color: white;
    text-decoration: none;
}

#heading_cms {
    transition: transform 1s;
}

#heading_cms:hover {
    transform: scale(1.05);
    color: lightgrey;
}

#main_well {
    background-color: transparent;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 46px;
    background-image: url('../imgs/woodbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#tech_heading:hover {
    color: lightgray;
}

#inner {
    margin-top: 50px;
    height: 800px;
    margin-left: 5px;
}

#inner2 {
    margin-top: 50px;
    height: 800px;
    margin-left: 5px;
}

.well {
    background-color: transparent;
}

#center_anim {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: solid 1px lightgrey;
    border-radius: 40px;
    font-size: 14px;
    position: relative;
    text-align: center;
    display: inline-table;
    top: 300px;
    font-weight: bold;
}

#cernter_anim_inner {
    display: table-cell;
    vertical-align: middle;
}

#hidden_info {
    display: none;
    margin-top: 50%;
}

#list {
    font-size: 24px;
    text-align: left;
    margin-top: 10%;
    line-height: 40px;
}

#list ul li a {
    color: white;
    text-decoration: none;
}

.list-data {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    list-style-type: none;
}

#inner_list {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

#inner_list li a:hover {
    font-weight: bolder;
}

@media only screen and (min-width: 768px) {
    #hidden_info {
        margin-left: 50px;
    }
}